* {
    font-family: 'Open Sans', sans-serif;
    
}

.container {
	max-width: 961px;
    margin: 0 auto;
}

.subheader {
    min-height: 90px;
    background-color: #fff;
    display: flex;
    padding: 21px 0;
    justify-content: space-between;
    align-items: center;
    &_time {

    }
}

nav {
    background-color: #3a4750;
    height: 60px; 
}

button {
    width: 166px;
    height: 45px ;
    background-color: rgb(93, 142, 168);
    border: none;
    margin-left: 20px;
    color: $main_color;
    border-radius: 5px;
    font-size: 15px;
    cursor: pointer;
}

.menu {
    margin: 0;
    padding: 23px 0;
    &_item {
        color: $main_color;
        list-style: none;
        display: inline-block;
        margin: 0 27px 0 10px;
        font-size: 15px;
        color: $main_color;
    }
    &_link {
        text-decoration: none;
        color: $main_color;
        &:hover {
            text-decoration: underline;
        }
    }

}

.main {
    min-height: 580px;
    &_wrapper {
        width: 490px;
        
    }
    &_header {
        font-size: 50px;
        color: $headers_color;
        font-weight: 300;
    }
    &_text {
        font-size: 15px;
        line-height: 1.333;
        color: $headers_color;
        font-weight: 400;
    }
    .container {
        background: url("../img/woman.png") bottom right no-repeat;

    }
}
  
.hits {
    min-height: 453px;
    background-color: #e4e8eb;
    padding: 80px 0;
    &_header {
        font-size: 35px;
        font-weight: 400;
        margin: 0;
        line-height: 35px;
    }
    &_wrapper {
        display: flex;
        justify-content: space-between;
        margin-left: -10px;
        margin-right: -10px;
        margin-top: 42px;
    }
    &_product {
        background-color: #fff;
        width: 307px;
        height: 383px;
        margin: 0 10px;
        border-radius: 10px;
        &_img {
            padding: 17px 17px 0 17px;
            width: 200px;
            height: 250px;
            margin: 0 auto;
            display: flex;
            align-items: center;
            img {
                display: block;
                margin: 0 auto;

            }
        }
        &_devider {           
            height: 1px;
            background-color: #dbdee0;
            width: 100%;
            margin-bottom: 13px;
        }
        &_descr {
            padding: 0 20px;
            min-height: 106px;
            position: relative;
            }
        &_title {
            color: $product_title;
            font-style: 14px;
            font-weight: 400;
        }
        &_price {
            font-size: 17px;
            color: $price_color;
            font-weight: 600;
            bottom: 20px;
            position: absolute;
        }
    }
}

.map {
    height: 724px;
}


.form {
    width: 380px;
    height: 600px;
    background-color: #e4e8eb;
    padding: 36px 36px 28px 36px;
    &_header {
        font-size: 30px;
        font-weight: 400;
    }
    &_button {
        height: 50px;
        width: 130px;
    }
}