@import "base/variables";


* {
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

.container {
	max-width: 961px;
    margin: 0 auto;
}

.map {
    min-height: 724px;
    position: relative;
}


@import "blocks/subheader";
@import "blocks/button";
@import "blocks/menu";
@import "blocks/slider";
@import "blocks/maintext";
@import "blocks/hits";
@import "blocks/product-preview";
@import "blocks/form"