.button {
    width: 166px;
    height: 45px ;
    background-color: rgb(93, 142, 168);
    border: none;
    margin-left: 20px;
    color: $main_color;
    border-radius: 5px;
    font-size: 15px;
    cursor: pointer;
    @media (max-width: 991px) {
        margin: 3px 0;
    }
    @media (max-width: 767px) {
        margin-right: 5px;
    }
    @media (max-width: 575px) {
        width: 100%;
        margin-left: 0;
        margin-bottom: 11px;
    }
    &_feed {
        display: block;
        margin: 28px auto 0 auto;
        width: 128px;
        @media (max-width: 575px) {
            width: 100%;
        }
    
    }
    &:hover {
        box-shadow: 0 0 5px #5d8ea8;
    }
}