.hits {
    min-height: 453px;
    background-color: #e4e8eb;
    padding: 80px 0;
    border-bottom: 1px solid #fff;
    @media (max-width: 575px) {
        padding: 37px 0 30px 0;
    }

    &__header {
        font-size: 35px;
        font-weight: 400;
        margin: 0;
        line-height: 35px;
    }
    &__wrapper {
        display: flex;
        justify-content: space-between;
        margin:42px -10px 0 -10px;
        @media (max-width: 575px) {
            margin:42px 0 0 0;
        }
    }
    &-dots {
        margin-top: 15px;
        display: flex;
        justify-content: center;
    }
    &-dot {
        border: none;
        margin: 0 2px;
        padding: 0;
        display: inline-block;
        width: 12px;
        height: 12px;
        border-radius: 50%;
        background-color: #88a0ab;
    }
    
    &-dot.active {
        background-color: #30454f;
    }
}