nav {
    background-color: #3a4750;
    height: 60px; 
    @media (max-width: 767px) {
        display: none;
    }
}
header {
    position: relative;
    @media (max-width: 767px) {
        height: 219px;
        border-bottom: 1px solid rgba(0,0,0,0.3);
    }
}
.burger {
    width: 45px;
    height: 45px;
    background-color: #40545d;
    display: none;
    padding: 13px 11px;
    border-radius: 5px;
    position: absolute;
    right: 18px;
    top: 28px;
    span {
        height: 3px;
        width: 100%;
        margin-bottom: 5px;
        display: block;
        background-color: #fff;
    }
    @media (max-width: 767px) {
        display: block;
    }
}
.menu {
    margin: 0;
    padding: 0;
    &__item {
        color: $main_color;
        list-style: none;
        display: inline-block;
        vertical-align: middle;
        font-size: 15px;
        padding: 0;
        transition-duration: 0.2s;
        position: relative;
        @media (max-width: 991px) {
            font-size: 13px;
        }
        &:hover > a {
            background-color: #fff;
            color: #3a4750;
        }
        &_dropdown > a {
            padding-right: 24px;
            transition: 0.3s all;
            &::after {
                content: "";
                transform: scaleY(-1);
                background: url("data:image/svg+xml,%3Csvg version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' viewBox='0 0 284.929 284.929' xml:space='preserve'%3E%3Cg%3E%3Cpath fill='%23fff' d='M282.082,195.285L149.028,62.24c-1.901-1.903-4.088-2.856-6.562-2.856s-4.665,0.953-6.567,2.856L2.856,195.285 C0.95,197.191,0,199.378,0,201.853c0,2.474,0.953,4.664,2.856,6.566l14.272,14.271c1.903,1.903,4.093,2.854,6.567,2.854 c2.474,0,4.664-0.951,6.567-2.854l112.204-112.202l112.208,112.209c1.902,1.903,4.093,2.848,6.563,2.848 c2.478,0,4.668-0.951,6.57-2.848l14.274-14.277c1.902-1.902,2.847-4.093,2.847-6.566 C284.929,199.378,283.984,197.188,282.082,195.285z'/%3E%3C/g%3E%3C/svg%3E%0A") no-repeat;
                width:10px;
                height: 10px;
                position: absolute;
                top: 50%;
                right: 6px;
                margin-top: -4px;
                z-index: 200;
                display: inline-block; 
            }
        }
        &_dropdown:hover > a {
            &::after {
                transform: scaleY(1);
                background: url("data:image/svg+xml,%3Csvg version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' viewBox='0 0 284.929 284.929' xml:space='preserve'%3E%3Cg%3E%3Cpath fill='%233a4750' d='M282.082,195.285L149.028,62.24c-1.901-1.903-4.088-2.856-6.562-2.856s-4.665,0.953-6.567,2.856L2.856,195.285 C0.95,197.191,0,199.378,0,201.853c0,2.474,0.953,4.664,2.856,6.566l14.272,14.271c1.903,1.903,4.093,2.854,6.567,2.854 c2.474,0,4.664-0.951,6.567-2.854l112.204-112.202l112.208,112.209c1.902,1.903,4.093,2.848,6.563,2.848 c2.478,0,4.668-0.951,6.57-2.848l14.274-14.277c1.902-1.902,2.847-4.093,2.847-6.566 C284.929,199.378,283.984,197.188,282.082,195.285z'/%3E%3C/g%3E%3C/svg%3E%0A") no-repeat;
            }
        }
    }
    &__link {
        text-decoration: none;
        color: $main_color;
        display: block;
        line-height: 60px;
        padding: 0 14px 0 24px;
        transition: 0.3s all;
        &_pl11px {
            padding-left: 11px;
        }
        @media (max-width: 991px) {
            padding: 0 12px 0 12px;
        }
    }
}

.dropdown {
    position: absolute;
    visibility: hidden;
    top: 100%;
    left: 0;
    width: 260px;
    z-index: 11;
    list-style-type: none;
    transition: 0.1s ease-in-out;
    background-color: #fff;
    padding-left: 0px;
    border-radius: 0 0 5px 5px;
    &__item {
        border-bottom: 1px solid #cdcdcd;
        a {
            padding-left: 11px;
            display: block;
            line-height: 40px;
            text-decoration: none;
            color: #3a4750;
            &:hover {
                background-color: #5d8ea8;
                color: #fff;
            }
        }
        &:last-child {
            border: none;
        }
    }
}
.menu__item_dropdown:hover > .dropdown {
    visibility: visible;
}