.product-preview {
    background-color: #fff;
    width: 100%;
    height: 383px;
    margin: 0 10px;
    border-radius: 10px;
    position: relative;
    @media (max-width: 575px) {
        margin:0;
    }
    &__label {
        position: absolute;
        right: 16px;
        top: 16px;
        width: 46px;
        height: 46px;
        background: #5d8ea8 url("../../icons/shopping_cart_plus_round.png") center center/auto no-repeat;
        border-radius: 6px;
        cursor: pointer;
        transition: 0.3s all;
        &:hover {
            transform: scale(1.05);
        }
        &_active {
            border: 2px solid #b0bdc4;
            background: #fff url("../../icons/shopping_cart_ok.png") center center/auto no-repeat; 
        }
    }
    &__img {
        width: 307px;
        height: 260px;
        padding: 17px 17px 0 17px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
    }
    hr {           
        border-bottom: none;
        background-color: lightgray;
        opacity: .6;
        margin-bottom: 14px;
        margin-top: 14px;
    }
    &__link {
        text-decoration: none;
        color: $product_title;
        font-size: 14px;
        font-weight: 400;
        line-height: 1.429;
        &:hover {
            text-decoration: underline;
        }
    }
    &__descr {
        padding: 0 20px;
        min-height: 93px;
        position: relative;
    }
    &__price {
        font-size: 17px;
        color: $price_color;
        font-weight: 600;
        bottom: 20px;
        position: absolute;
    }
}

