.button {
    width: 166px;
    height: 45px ;
    background-color: rgb(93, 142, 168);
    border: none;
    margin-left: 20px;
    color: $main_color;
    border-radius: 5px;
    font-size: 15px;
    cursor: pointer;
}