.feedback-form {
    position: absolute;
    top:47px;
    right: 472px;
    width: 380px;
    min-height: 600px;
    background-color: #e4e8eb;
    padding: 36px 36px 28px 36px;
    &__header {
        font-size: 30px;
        line-height: 30px;
        font-weight: 400;
        margin-bottom: 33px;
        text-align: center;
        color: #3a4750;
    }
    & > input {
        padding: 16px;
        height: 45px;
        width: 100%;
        border-radius: 5px;
        margin-bottom: 13px;
        border: 1px solid #c6cfd4;
        font-size: 15px;
        font-weight: 400;
        outline: none;
        &:nth-of-type(3) {
            margin-bottom: 30px;
        }   
    }
    &__policy {
        line-height: 13px;
        &-text {
            font-size: 13px;
            color: #949ca0;
            line-height: 13px;
            
        }
        &-link {
            font-size: 13px;
            line-height: 13px;
            color: #5d8ea8;
            text-decoration: underline;
        }
    }
    &__checkbox {
        position: relative;
        margin-top: 12px;
        display: block;
    }
    &__checkbox > input {
        position: absolute;
        z-index: -1;
        opacity: 0;
    }

    &__checkbox > span.test {
        display: inline-flex;
        align-items: center;
        user-select: none;
        &::after {
            content: '';
            display: inline-block;
            position: absolute;
            top:1px;
            right: 0;
            width: 17px;
            height: 17px;
            flex-shrink: 0;
            flex-grow: 0;
            border: 1px solid #5d8ea8;
            border-radius: 0.25em;
            background-repeat: no-repeat;
            background-position: center center;
            background-size: 50% 50%;
            }
        }

    &__checkbox > input:checked+span.test::after {
        border-color: #5d8ea8;
        background-color: #5d8ea8;
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
    }
    textarea {
        width: 100%;
        border: 1px solid #c6cfd4;
        padding: 16px;
        height: 187px;
    }
    .error {
        border: 1px solid #cf0215;
    }
    label.error {
        display: block;
        border: none;
        margin-top: -8px;
        margin-bottom: 15px;
        font-weight: 500;
        font-size: 14px;
        color: #cf0215;
    }
}


  