.hits {
    min-height: 453px;
    background-color: #e4e8eb;
    padding: 80px 0;
    &__header {
        font-size: 35px;
        font-weight: 400;
        margin: 0;
        line-height: 35px;
    }
    &__wrapper {
        display: flex;
        justify-content: space-between;
        margin-left: -10px;
        margin-right: -10px;
        margin-top: 42px;
    }
}