.maintext {
    min-height: 580px;
    &__wrapper {
        width: 490px;
        
    }
    &__header {
        font-size: 50px;
        color: $headers_color;
        font-weight: 300;
    }
    &__text {
        font-size: 15px;
        line-height: 1.333;
        color: $headers_color;
        font-weight: 400;
    }
    .container {
        background: url("../img/woman.png") bottom right no-repeat;

    }
}