nav {
    background-color: #3a4750;
    height: 60px; 
}

.menu {
    margin: 0;
    padding: 0;
    &__item {
        color: $main_color;
        list-style: none;
        display: inline-block;
        vertical-align: middle;
        margin: 0 27px 0 10px;
        font-size: 15px;
        color: $main_color;
        padding: 0;
        margin-right: 13px;
        transition-duration: 0.2s;
        position: relative;
    }
    &__link {
        text-decoration: none;
        color: $main_color;
        display: block;
        line-height: 60px;
        padding: 0 14px 0 24px;
        transition: 0.3s all;
        &:hover {
            background-color: #fff;
            color: #3a4750;
        }
        &:first-child {
            padding-left: 11px;
        }
        
    }
}

.dropdown {
    position: absolute;
    visibility: hidden;
    top: 100%;
    left: 0;
    width: 260px;
    z-index: 10;
    list-style-type: none;
    transition: 0.3s ease-in-out;
    background-color: #fff;
    padding-left: 0px;
    &__item {
        border-bottom: 1px solid #cdcdcd;
        a {
            padding-left: 11px;
            display: block;
            line-height: 40px;
            text-decoration: none;
            color: #3a4750;
            &:hover {
                background-color: #5d8ea8;
                color: #fff;
            }
        }
        &:last-child {
            border: none;
        }
    }
}
.menu__item:hover .dropdown {
    visibility: visible;
}