.menu {
    margin: 0;
    padding: 0;
    &__item {
        color: $main_color;
        list-style: none;
        display: inline-block;
        vertical-align: middle;
        margin: 0 27px 0 10px;
        font-size: 15px;
        color: $main_color;
        padding: 0;
        margin-right: 13px;
    }
    &__link {
        text-decoration: none;
        color: $main_color;
        display: block;
        line-height: 60px;
        padding: 0 14px 0 24px;
        transition: 0.3s all;
        &:hover {
            background-color: #fff;
            color: #3a4750;
        }
        &:first-child {
            padding-left: 11px;
        }
        
    }
}

nav {
    background-color: #3a4750;
    height: 60px; 
}

.dropdown {
    display: none;
    &__item {
        color: #3a4750;
    }
}