.product-preview {
    background-color: #fff;
    width: 307px;
    height: 383px;
    margin: 0 10px;
    border-radius: 10px;
    &__img {
        padding: 17px 17px 0 17px;
        width: 200px;
        height: 250px;
        margin: 0 auto;
        display: flex;
        align-items: center;
        img {
            display: block;
            margin: 0 auto;

        }
    }
    &__devider {           
        height: 1px;
        background-color: #dbdee0;
        width: 100%;
        margin-bottom: 13px;
    }
    &__descr {
        padding: 0 20px;
        min-height: 106px;
        position: relative;
    }
    &__title {
        color: $product_title;
        font-style: 14px;
        font-weight: 400;
    }
    &__price {
        font-size: 17px;
        color: $price_color;
        font-weight: 600;
        bottom: 20px;
        position: absolute;
    }
}