.product-preview {
    background-color: #fff;
    width: 307px;
    height: 383px;
    margin: 0 10px;
    border-radius: 10px;
    &__img {
        width: 307px;
        height: 260px;
        padding: 17px 17px 0 17px;
        display: flex;
        justify-content: center;
        align-items: center;

    }
    hr {           
        border-bottom: none;
        background-color: lightgray;
        opacity: .6;
        margin-bottom: 14px;
        margin-top: 14px;

    }
    &__link {
        text-decoration: none;
        color: $product_title;
        font-size: 14px;
        font-weight: 400;
        line-height: 1.429;
    }
    &__descr {
        padding: 0 20px;
        min-height: 93px;
        position: relative;
    }
    &__price {
        font-size: 17px;
        color: $price_color;
        font-weight: 600;
        bottom: 20px;
        position: absolute;
    }
}

  